:root{
    --primary-color:#EF4444;
}

body{
    margin: 0;

}

/**header**/
h1{
    background-color: var(--primary-color);
    margin: auto;
    padding: 1rem;
    text-align: center;
    color: white;
}

/**Center**/
textarea{
    width: 80%;
    height: 10vh;
    display: block;
    margin: auto;
    margin-top: ;
    padding: 2rem;
}

.text{
    margin: auto;
    
}

#output{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}
