@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --primary-color:#1E40AF;
    --width-break:600px;
    --secondary-color:white;
}

body{
    margin: 0;
    font-family: 'Ubuntu' , cursive;
}

/**header**/
nav{
    background-color: var(--primary-color);
    text-align: center;
    margin: 0;
}

.head{
    font-size: 2rem;
    padding: 1rem;
    color: var(--secondary-color);
}

/**Center**/
main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

img{
    height: 15rem;
    width: 15rem;

}

textarea{
    box-sizing: border-box;
    width: 100%;
    min-height: 20vh;
    display: block;
    margin-top: 2rem;
    font-family: inherit;
    font-size: large;
}

#btn-translate{
    padding: 1rem 2rem;
    margin: 1rem 0rem;
    background-color: var(--primary-color);
    border: none;
    color: var(--secondary-color);
    font-family: 'Ubuntu' , cursive;
    font-size: large;
}

#output{
    box-sizing: border-box;
    border: 1px solid black;
    min-height: 15vh;
    max-height: 20vh;
    width: 100%;
    font-size: large;
}

/**footer**/
footer{
    background-color: var(--primary-color);
    margin: 0;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.footer h3{
    color: var(--secondary-color);
}

footer p{
    color: var(--secondary-color);
    margin: auto;
    max-width: var(--width-break);
}